@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 50px;
    color: rgb(20, 20, 20);
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    gap: 50px;
    padding: 2rem;
    background-color: white;
}



.slide {
    height: 300px;
    background: var(--body-bgcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform: translate(0,0);
    transition: transform 0.8s ease;
}

.slide:hover{
    transform: translate(0%,-10%);
    overflow: visible;
}

.slide img{
    width: 200px;
}

.swiper-component{
    width: 100%;
}

.shop-button {
    padding: 1rem;
    font-size: medium;
    color: white;
    background-color: var(--primary-font-color);

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);

    transition: transform 0.8s ease;
}

/* Trigger from parent card */
.slide:hover .shop-button {
    transform: translate(-50%, 50%);
}

.shop-button:hover{
    background-color: black;
}

.shop-button a{
    color: white;
    font-family: sans-serif;
}