.header {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
  /* position: fixed; */
  top: 0;
  z-index: 1;
}

.container {
  width: 100%;
  padding: 0 0;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: aliceblue;
  font-size: large;
  display: none;
  background-color: var(--primary-font-color);
  padding: 0.5rem 0;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 30s linear infinite;
}


.laptop-view {
  background-color: var(--primary-font-color);
  width: 100%;
  padding: 1rem 2rem;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  background-color: rgb(240, 248, 255, 0.2);
  border-radius: 3rem;
  font-size: medium;
  font-weight: 400;
  color: white;
  padding: 0 1rem;
}

.input-container input {
  border: none;
  outline: none;
  width: fit-content;
  background: transparent;
  color: white;
}

.input-container input::placeholder {
  color: aliceblue;
}

.search {
  width: 15px;
}

.navigation {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 8px 6px -6px rgb(176, 176, 176);
}

.navigation-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
}

.navigation-section > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.navigation-tabs {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.navigation-tabs > a {
  position: relative;
  text-decoration: none;
}

.navigation-tabs > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: purple;
  transition: width 0.8s ease;
}

.navigation-tabs > a:hover::after {
  width: 100%;
  color: purple;
}

.logo {
  width: 9rem;
  cursor: pointer;
}

.profile-section {
  display: flex;
  gap: 40px;
}

.search {
  display: flex;
  width: fit-content;
  gap: 15px;
}

.search>span {
  width: 15px;
  color: white;
}

.search>span>input {
  color: white;
}

.profile {
  display: none;
  flex-direction: row;
  gap: 30px;
}

.mobileView-bottom-navigation {
  width: 100%;
  padding: 0.5rem 0;
  background-color: rgb(236, 236, 236);
  position: fixed;
  bottom: 0;
  left: 0;
}

.bottom-navigation-inner {
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}

.bottom-navigation-inner>span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-tabs {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.profile-tabs span{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media (width >1024px) {
  .laptop-view {
    display: flex;
  }

  .search {
    display: none;
  }
}

@media (width <=1024px) {
  .marquee {
    display: block;
  }

  .profile {
    display: flex;
  }

  .bottom-navigation-inner {
    display: flex;
  }
}

@media (width <=768px) {}

@media (width <=426px) {
  .profile {
    display: none;
  }
}


@keyframes scroll {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}