.header {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
}

.container {
  width: 100%;
  padding: 0 0;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: aliceblue;
  font-size: large;
  display: none;
  background-color: var(--primary-font-color);
  padding: 0.5rem 0;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 30s linear infinite;
}


.laptop-view{
  background-color: var(--primary-font-color);
  width: 100%;
  padding: 1rem 2rem;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container{
  background-color: rgb(240, 248, 255, 0.2);
  border-radius: 3rem;
  font-size: medium;
  font-weight: 400;
  color: white;
  padding: 0 1rem;
}

.input-container input{
  border: none;
  outline: none;
  width: fit-content;
  background: transparent;
}

.input-container input::placeholder{
  color: aliceblue;
}

.search{
  width: 15px;
}

.navigation{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 8px 6px -6px rgb(176, 176, 176);
}

.navigation-section {
  /* background-color: bisque; */
  cursor: pointer;
}

.logo{
  width: 6rem;
}

.profile-section{
  display: flex;
}

.search{
  display: flex;
  width: fit-content;
  gap: 10px;
  /* flex-direction: row; */
  /* align-items: center; */
}

.search > span{
  width: 15px;
}

/* .navigation{

} */

@media (width <=768px) {}


@media (width <=1024px) {
  .marquee{
    display: block;
  }
}

@media (width >1024px) {
  .laptop-view{
    display: flex;
  }
}



@keyframes scroll {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}